// DEFAULT
body {
  font-family: $default-font-family, sans-serif;
  // font-weight: $default-font-weight;
  // font-size: $default-font-size;
  color: $default-font-color;
}

a {
  color: $default-font-color;
}
