// COLORS
$color-black: #000;
$color-white: #fff;
$color-gray-light: #eee;

// FONTS
$default-font-family: "Poppins", sans-serif;
$default-font-size: 1.6rem;
$default-font-weight: 400;
$default-font-color: $color-black;
