/* Nagitation */
.nav {
  height: 4rem;
  width: 100%;
  background: $color-white;
  z-index: 999;

  .logo-wrapper {
    height: 2rem;
  }

  // Btn Toggle
  .btn-toggle {
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      color: $color-primary;
    }
  }

  // @include respond(tablet) {
  //   // Glass effect
  //   background: rgba(255, 255, 255, 0.25);
  //   backdrop-filter: blur(4px);
  //   -webkit-backdrop-filter: blur(4px);
  // }

  // Nav List
  &-container {
    display: block;
    position: fixed;
    top: 4rem;
    right: 0;
    height: 0;
    width: 100%;
    background-color: $color-white;
    overflow: hidden;
    z-index: 999;
    transition: all 0.2s ease-in;

    @include respond(tablet) {
      position: static;
      width: max-content;
      height: auto !important;
      // background-color: transparent;
    }
  }

  // Nav Item
  &-item {
    cursor: pointer;
    // font-weight: 600;
    transition: all 0.2s ease;

    &:hover {
      background-color: $color-gray-light;
      a {
        color: $color-primary;
      }
    }

    a {
      color: $color-gray-dark;
    }

    @include respond(tablet) {
      &:hover {
        background-color: transparent;
        color: lighten($color-primary, 15%);

        // transform: translateY(-0.2rem);
      }
    }
  }
}
