.root-directory {
  overflow: hidden;
  // width: max-content;

  @include respond(tablet) {
    width: max-content;
  }

  &-tree {
    // Glass effect
    border-radius: 10px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 8px 8px 16px #e0e0e0, -8px -8px 16px #ffffff;
    transition: all 0.2s ease;
    // width: max-content;

    .folder-container {
      margin: 10px;
      padding: 0 10px;
      margin: 0 auto;
      width: max-content;
    }

    .folder-wrapper {
      margin: 0;
      padding: 0;
      width: max-content;

      list-style-type: none;
    }

    .file-item,
    .folder-item {
      margin-left: -16px;
      padding-left: 20px;
      width: max-content;

      list-style-type: none;
    }

    .fa-folder,
    .fa-file-code {
      color: $color-gray-dark;
      margin: 0.5rem;
    }

    li {
      color: $color-gray-dark;
      transition: all 0.2s ease;

      &:hover {
        color: $color-black;
      }

      &:hover > i {
        color: $color-primary;
      }
    }
  }
}
